$grey: #f9f9f9;

html {
  font-size: 1.5vw;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: $grey;
  padding: 4rem 0;
}

.width {
  width: 70%;
  margin: 0 auto;
}

#landing-banner {
  background: url('./img/banner.jpg') no-repeat center center / cover;
  height: 80vh;
  width: 100%;

  .callout {
    padding: 2rem;
    background: rgba(255,255,255,.95);
    border-radius: 5px;
    text-align: center;
  }
}
