$grey: #efefef;
$light-blue: #5bc0de;
$green: #5cb85c;
$red: #d9534f;

html {
  font-size: 1.5vw;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h6 {
  font-size: .8rem;
  display: inline-block;
}

ul {
  padding-left: 1rem;
}

li {
  margin: .25rem 0;
  padding: .5rem .25rem;
  list-style: none;
  cursor: pointer;
}

.action-btn {
  padding: .5rem 1rem;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover {
    opacity: .7;
  }
}

.red {
  background: $red;
  color: #fff;
}

.blue {
  background: $light-blue;
  color: #fff;
}

.sm-margin {
  margin: .5rem 0;
}

.title-margin {
  margin-bottom: 1rem;
}

.btn {
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border: none;
  background: $light-blue;
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: $grey;
  padding: 4rem 0 8rem;
}

.width {
  width: 65%;
  margin: 0 auto;
}

#results {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  padding: 1rem 3rem;
  background: #fff;
  z-index: 10;
  text-align: center;
  border: .2rem solid #333;
  border-radius: 5px;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

#landing-banner {
  background: url('./img/banner.jpg') no-repeat center center / cover fixed;
  height: 80vh;
  width: 100%;

  .callout {
    padding: 2rem;
    background: rgba(255,255,255,.95);
    border-radius: 5px;
    text-align: center;
  }
}

.questionnaire-callout {
  background: #fff;
  border-radius: 8px;
  padding: 2rem;
  margin: 1.5rem 0;
  position: relative;
}

.grade {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: .75rem;
  border-radius: 8px;
}

.active {
  background: $light-blue;
  color: #fff;
  padding-left: .75rem;
}

.correct > .grade {
  background: $green;
}

.wrong > .grade {
  background: $red;
}
